@model IEnumerable<ProjectViewModel>
@{
    int totalOrders = ViewBag.TotalOrders; 
    int currentPage = ViewBag.CurrentPage; 
    int pageSize = ViewBag.PageSize; 
    int totalPages = (int)Math.Ceiling((double)totalOrders / pageSize); 
    string serchquery = ViewBag.SearchTerm;
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
    }

        .custom-table th, .custom-table td {
            text-align: center;
            padding: 10px;
            border: 1px solid #ddd;
        }

        .custom-table th {
            background-color: #95a4fc;
            color: #333;
        }

    .status-btn {
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 0.875rem;
        color: white;
        background-color: #28a745;
    }

        .status-btn.active {
            background-color: #28a745;
        }

    .action-btn {
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        color: white;
        font-size: 0.875rem;
        cursor: pointer;
        margin-right: 5px;
    }

        .action-btn.edit {
            background-color: #ffc107;
        }

        .action-btn.delete {
            background-color: #dc3545;
        }

    .custom-pagination .page-item .page-link {
        padding: 5px 10px;
        border: 1px solid #ddd;
        margin-left: 2px;
    }

    .custom-pagination .page-item.active .page-link {
        background-color: #007bff;
        color: white;
    }

    .custom-pagination .page-link {
        color: #007bff;
        text-decoration: none;
    }

        .custom-pagination .page-link:hover {
            background-color: #f1f1f1;
        }

    .add-task-btn-nav {
        padding: 10px 20px;
        background-color: #95a4fc;
        height: 32px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        margin-right: 20px;
        margin-left: 12px;
    }
</style>
<div>
    <h1 style="margin-left: 35px;">Projects</h1>
    <div class="row user-card" style="padding:18px;">
        <div class=" col-md-2 ">
            <div class="analytics-sparkle-line reso-mg-b-30"
                 style="background-color:#e3e7ff !important;    border-radius: 23px;     padding: 15px 16px !important;">
                <div class="analytics-content">

                    <h2 style="display: flex;justify-content: space-between;">
                        @*<span>@ViewBag.ProjectManager</span>*@
                        <span>@ViewBag.OngoingCount</span>
                        <img src="~/asset/img/New/ongoing.png" width="30" alt="">
                    </h2>
                    <br>
                    <h2 style="font-size: 12px;">Ongoing Projects</h2>

                </div>

            </div>

        </div>
        <div class=" col-md-2 ">
            <div class="analytics-sparkle-line reso-mg-b-30"
                 style="background-color: #1C1C1C !important;    border-radius: 23px; padding: 12px 16px !important;">
                <div class="analytics-content">

                    <h2 style="display: flex;justify-content: space-between;">
                        @*<span class="text-white">@ViewBag.TeamLeader</span>*@
                        <span class="text-white" style="color: white;">@ViewBag.OnHold</span>
                        <img src="~/asset/img/New/pending.png" width="30" alt="">
                    </h2>
                    <br>


                    <h2 style="font-size: 12px; color: white;">Pending Projects</h2>
                </div>
            </div>
        </div>
        <div class=" col-md-2 ">
            <div class="analytics-sparkle-line reso-mg-b-30"
                 style="background-color:#F04034 !important;    border-radius: 23px; padding: 12px 16px !important;">
                <div class="analytics-content">

                    <h2 style="display: flex;justify-content: space-between;">
                        @*<span>@ViewBag.Engineer</span>*@
                        <span style="color: white;">00</span>
                        <img src="~/asset/img/New/red-flag.png" width="30" alt="">
                    </h2>
                    <br>


                    <h2 style="font-size: 12px; color: white;">Red Flagged Project</h2>
                </div>
            </div>
        </div>
        <div class=" col-md-2 ">
            <div class="analytics-sparkle-line reso-mg-b-30"
                 style="background-color:#BAEDBD !important;    border-radius: 23px; padding: 15px 16px !important;">
                <div class="analytics-content">

                    <h2 style="display: flex;justify-content: space-between;">
                        @*<span>@ViewBag.Engineer</span>*@
                        <span>@ViewBag.CompletedCount</span>
                        <img src="~/asset/img/New/completed.png" width="30" alt="">
                    </h2>
                    <br>


                    <h2 style="font-size: 12px;">Completed Projects</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6" style="padding: 0px 32px;">
        <div class="dataTables_length">
            <label style="font-weight: normal;text-align: left;white-space: nowrap;">
                Show
                <select id="rowQuantity" onchange="updateRowQuantity()" class="custom-select custom-select-sm form-control form-control-sm" style="width: 65px; padding: 0px 9px; display: inline-block; height: 32px;">
                    @if (pageSize == 10)
                    {
                        <option value="10" selected>10</option>
                    }
                    else
                    {
                        <option value="10">10</option>
                    }

                    @if (pageSize == 25)
                    {
                        <option value="25" selected>25</option>
                    }
                    else
                    {
                        <option value="25">25</option>
                    }

                    @if (pageSize == 50)
                    {
                        <option value="50" selected>50</option>
                    }
                    else
                    {
                        <option value="50">50</option>
                    }

                    @if (pageSize == 100)
                    {
                        <option value="100" selected>100</option>
                    }
                    else
                    {
                        <option value="100">100</option>
                    }

                </select>entries
            </label>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div id="example_filter" class="dataTables_filter" style="text-align: right;">
            <label>Search:<input type="search" id="searchQuery" value="@serchquery" oninput="searchfilterquery();" style="margin-left:.5em;display: inline-block;width: auto;height: 6px;" class="form-control form-control-sm" placeholder="" aria-controls="example"></label>
            @*<a asp-action="AddProject" class="add-task-btn-nav" id="openModalBtn" style="color: #000000;">+ Add New Project</a>*@

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">
                + Add New Project
            </button>

        </div>
    </div>

</div>


<!-- Modal for adding project details -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Enter Project Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="modalLocation">Location</label>
                    <input type="text" id="modalLocation" class="form-control" placeholder="Enter Location">
                </div>

                <div class="form-group">
                    <label for="modalCustomer">Customer</label>
                    <select id="modalCustomer" class="form-control">
                        <option value="">Select Customer</option>
                        @if (ViewBag.Customers != null)
                        {
                            foreach (var customer in ViewBag.Customers)
                            {
                                <option value="@customer.Id">@customer.FullName</option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group">
                    <label for="modalProjectManager">Project Manager</label>
                    <select id="modalProjectManager" class="form-control">
                        <option value="">Select Manager</option>
                        @if (ViewBag.ProjectManagers != null)
                        {
                            foreach (var projrctmanager in ViewBag.ProjectManagers)
                            {
                                <option value="@projrctmanager.Id">@projrctmanager.FullName</option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group">
                    <label for="modalProjectName">Project Name</label>
                    <input type="text" id="modalProjectName" class="form-control" placeholder="Enter Project Name">
                </div>
                @*<div class="form-group">
                    <label for="modalProjectNumber">Project Number</label>
                    <input type="text" id="modalProjectNumber" class="form-control" placeholder="Enter Project Number">
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveProjectDetails">Next</button>
            </div>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(serchquery))
{

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            var searchInput = $('#searchQuery');
            searchInput.focus();

            // Set the cursor at the end of the input field
            var val = searchInput.val();
            searchInput.val('').val(val); // Clears and sets the value back to move the cursor to the end
        });
    </script>
}
<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst" style="padding: 9px 0px 0px 0px;">
                    <div class="asset-inner">
                        <table class="table table-bordered custom-table">
                            <tr>
                                <th>Sr.No</th>
                                <th>Project</th>
                                <th>Customer</th>
                                <th>Project Manager</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Total Task</th>
                                <th>Completed Task</th>
                                <th>Action</th>
                            </tr>

                            @for (int i = 0; i < Model.Count(); i++)
                            {

                                var item = Model.ElementAt(i);
                                <tr onclick="location.href='@Url.Action("Details", "Projects", new { id = item.ProjectId })'" style="cursor:pointer;">
                                    <td>@(i + 1)</td>
                                    <td>@item.ProjectName</td>
                                    <td>@item.Customer</td>
                                    <td>@item.ProjectManager</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EstimatedEndDate</td>
                                    <td>
                                        @(ViewBag.GetTotalTask.ContainsKey(item.ProjectId)
                                            ? ViewBag.GetTotalTask[item.ProjectId]
                                            : 0)
                                    </td>
                                    <td>0</td>
                                   
                                    <td>
                                        <a asp-controller="Projects" asp-action="UpdateProject" asp-route-id="@item.ProjectId" style="cursor:pointer; color:black;">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit
                                        </a>
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                    <div class="custom-pagination">
                        <div class="col-sm-12 col-md-5">
                            @if (totalOrders > pageSize)
                            {
                                <div class="dataTables_info" id="example_info" role="status" aria-live="polite" style="padding-top: 1rem !important;">
                                    Showing @pageSize of @totalOrders entries
                                </div>
                            }
                            else
                            {
                                <div class="dataTables_info" id="example_info" role="status" aria-live="polite" style="padding-top: 1rem !important;">
                                    Showing @totalOrders of @totalOrders entries
                                </div>
                            }

                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="MainOrderTable_paginate" style="margin: 0;white-space: nowrap;text-align: right;">
                                <ul class="pagination" style="margin: 2px 0;white-space: nowrap;justify-content: flex-end;">
                                    <li class="paginate_button page-item previous @(currentPage == 1 ? "disabled" : "")">
                                        <a href="@Url.Action("Projects", new { pageNumber = currentPage - 1, searchTerm = ViewBag.SearchTerm,pageSize= pageSize })" class="page-link" @(currentPage == 1 ? "tabindex='-1'" : "")>Previous</a>
                                    </li>

                                    @if (totalPages > 5)
                                    {
                                        // Display the first page
                                        if (currentPage > 3)
                                        {
                                            <li class="paginate_button page-item">
                                                <a href="@Url.Action("Projects", new { pageNumber = 1, searchTerm = ViewBag.SearchTerm,pageSize= pageSize })" class="page-link">1</a>
                                            </li>
                                            if (currentPage > 4)
                                            {
                                                <li class="paginate_button page-item disabled"><span class="page-link">...</span></li>
                                            }
                                        }

                                        // Display current page and adjacent pages
                                        for (int i = Math.Max(2, currentPage - 2); i <= Math.Min(totalPages - 1, currentPage + 2); i++)
                                        {
                                            if (i == currentPage)
                                            {
                                                <li class="paginate_button page-item active">
                                                    <a href="#" class="page-link" aria-current="page">@i</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="paginate_button page-item">
                                                    <a href="@Url.Action("Projects", new { pageNumber = i, searchTerm = ViewBag.SearchTerm,pageSize= pageSize })" class="page-link">@i</a>
                                                </li>
                                            }
                                        }

                                        // Display the last page
                                        if (currentPage < totalPages - 2)
                                        {
                                            if (currentPage < totalPages - 3)
                                            {
                                                <li class="paginate_button page-item disabled"><span class="page-link">...</span></li>
                                            }
                                            <li class="paginate_button page-item">
                                                <a href="@Url.Action("Projects", new { pageNumber = totalPages, searchTerm = ViewBag.SearchTerm,pageSize= pageSize })" class="page-link">@totalPages</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        // Display all page buttons if total pages are 5 or fewer
                                        for (int i = 1; i <= totalPages; i++)
                                        {
                                            if (i == currentPage)
                                            {
                                                <li class="paginate_button page-item active">
                                                    <a href="#" class="page-link" aria-current="page">@i</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="paginate_button page-item">
                                                    <a href="@Url.Action("Projects", new { pageNumber = i, searchTerm = ViewBag.SearchTerm,pageSize= pageSize })" class="page-link">@i</a>
                                                </li>
                                            }
                                        }
                                    }

                                    <li class="paginate_button page-item next @(currentPage == totalPages ? "disabled" : "")">
                                        <a href="@Url.Action("Projects", new { pageNumber = currentPage + 1, searchTerm = ViewBag.SearchTerm,pageSize= pageSize })" class="page-link" @(currentPage == totalPages ? "tabindex='-1'" : "")>Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function searchfilterquery() {
        var searchQuery = document.getElementById('searchQuery').value;
        var pageSize = document.getElementById('rowQuantity').value;
        window.location.href = `/Projects/Projects?searchTerm=${searchQuery}&pageNumber=1&pageSize=${pageSize}`;
    }

    function updateRowQuantity() {
        var pageSize = document.getElementById('rowQuantity').value;
        var searchQuery = document.getElementById('searchQuery').value;
        window.location.href = `/Projects/Projects?searchTerm=${searchQuery}&pageNumber=1&pageSize=${pageSize}`;
    }
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function () {
        $jq('#saveProjectDetails').on('click', function () {
            var location = $jq('#modalLocation').val();
            var customer = $jq('#modalCustomer').val();
            var projectManager = $jq('#modalProjectManager').val();
            var projectName = $jq('#modalProjectName').val();
            var projectNumber = $jq('#modalProjectNumber').val();

            // Redirect to AddProject page with data as query parameters
            var url = `/Projects/AddProject?Location=${encodeURIComponent(location)}&Customer=${encodeURIComponent(customer)}&ProjectManager=${encodeURIComponent(projectManager)}&ProjectName=${encodeURIComponent(projectName)}&ProjectNumber=${encodeURIComponent(projectNumber)}`;
            window.location.href = url;
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('#openModalBtn').on('click', function (e) {
            e.preventDefault(); 
            $('#projectModal').modal('show'); 
        });
    });
</script>